/*Pseudo-Classes*/
a:hover{
    font-size: 25px;
}
div:hover{
    background: red;
}
p:first-child{
    border: 1px solid black;
}
p:last-child{
    border: 1px solid red;
}
p:nth-child(odd){
    background: blue;
}
p:nth-child(even){
    background: green;
}

/*Pseudo-Elemento*/
p::first-letter{
    font-size: 25px;
}
p::first-line{
    font-size: 25px;
}
p::selection{
    background: red;
}
h1::before{
    content: '==>'
}
h1::after{
    content: '<==';
}