.cabecalho-home{
    background: url('../img/cabecalho-home-bg.jpg') #000 no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding : 50px 0px;
}

.cabecalho-home__titulo{
    font-size: 40px;
    margin-bottom: 0;
}

.cabecalho-home__role{
    display: none;
}

.home__titulo{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.home__titulo::after{
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #f00;
    margin: 0 auto;
    margin-top: 15px;
}

.home__titulo--branco::after{
    background-color: #fff;
}
.servicos{
    padding: 30px 0;
}

.servicos__item{
    text-align: center;
    padding: 0 15px;
    margin-bottom: 50px;
}

.servicos__texto{
    color: #585858;
}

.depoimentos{
    background-color: #dd3f3f;
    background-image: url(../img/cabecalho-pagina-bg.jpg);
    background-attachment: fixed;
    color:#fff;
    padding: 30px 0;
}

.depoimentos__item{
    padding: 0 15px;   
}

.depoimentos__img{
    margin: 0 auto;
    display: block;
    box-shadow: 3px 3px 0 #000;
    margin-bottom: 30px;
}

.depoimentos__texto{
    line-height: 24px;
    margin-bottom: 30px;
}

.depoimentos__texto::before{
    background: url('../img/aspas.png') no-repeat;
    content: '';
    display: inline-block;
    width: 25px;
    height: 23px;
    margin-right: 5px;
}

.depoimentos__pessoa{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}